{% extends "layout.html" %}

{% block title %}
    Book Details
{% endblock %}

{% block main %}
<h1>Book Details</h1>

<ul>
    <li><b>Title:</b> {{ book.title }}</li>
    <li><b>Author:</b> {{ book.author }}</li>
    <li><b>Year:</b> {{ book.year }}</li>
    <li><b>ISBN:</b> {{ book.isbn }}
</ul>

<hr/>

<h2>Reviews</h2>
<ul>
    {% for review in reviews %}
        <li>{{ review.username }}</li>
        <li>{{ review.content }}</li>
    {% else %}
        <li>No reviews.</li>
    {% endfor %}
</ul>

<hr/>

<a href="{{ url_for('review', isbn=book.isbn) }}">
    <h2>Write a Review!</h2>
</a>

{% endblock %}
