{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="container d-flex justify-content-center">
        <h1>Welcome to Book Review!</h1>
    </div>
    {% if session["user_id"] %}
        <div class="container d-flex justify-content-center">
            <form class="form-inline">
                <a href="/books" class="btn btn-primary mr-1"><i class="fa fa-book"></i> Books</a>
                <a href="/search" class="btn btn-primary ml-1"><i class="fa fa-search"></i> Search</a>
            </form>
        </div>
    {% else %}
        <div class="container d-flex justify-content-center">
            <form class="form-inline">
                <a href="/login" class="btn btn-primary mr-1"><i class="fa fa-sign-in"></i> Log In</a>
                <a href="/register" class="btn btn-primary ml-1"><i class="fa fa-address-card"></i> Register</a>
            </form>
        </div>
    {% endif %}
{% endblock %}
