{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div>
        <h1>
            Tournament Information
        </h1>
        <p>
            Bluff City Bout is the premier college tournament of the Mid South. Hosted in Memphis, this tournament brings 16
            college teams together to duke it out. The last team standing will be crowned king of Memphis. The men's division
            tournament will occur on the weekend of November 3<sup>rd</sup> and 4<sup>th</sup>.

            The bid fee can be paid via <a href="https://www.paypal.com/" target="_blank">PayPal</a> or through this website after registration.
        </p>
    </div>
    <br>
    <br>
    <div>
        <h2>
            Contact
        </h2>
        <p>
            <b>Tournament Director:</b> Elvis Presley
        </p>
        <p>
            <b>Email:</b> elvispresley@graceland.com
        </p>
    </div>
    <br>
    <br>
    <div>
        <h2>
            USA Ultimate
        </h2>
        <a href="https://www.usaultimate.org/" target="_blank">Men's Division</a><br>
        <a href="https://www.usaultimate.org/" target="_blank">Women's Division</a><br>
        <a href="https://www.usaultimate.org/" target="_blank">Mixed Division</a>
    </div>
    <br>
    <br>
    <div>
        <h2>
            Location
        </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3267.31052786745!2d-89.76665848475909!3d35.02396068035255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x887f9745b26e1e15%3A0x5c68b470389b2056!2sMike+Rose+Soccer+Complex!5e0!3m2!1sen!2sus!4v1533160229253" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

{% endblock %}
