{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <div class="d-flex justify-content-between">
        <h1>Search</h1>
    </div>
    <div class="d-flex justify-content-between">
        <form action="/search" method="post" class="d-flex justify-content-between">
            <div class="form-group">
                <input class="form-control" name="search" placeholder="Search" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    {% for book in books %}
    <div>
        <h5>
            <form action="/book" class="d-flex justify-content-between">
                <div class="form-group">
                    <a href="/book" value="{{ book.isbn }}">{{ book.title }}</a></h5>
                </div>
            </form>
        <!--
        <form action="/book" method="post" class="d-flex justify-content-between">
            <button class="btn btn-primary" type="submit">Review</button>
        </form>
        -->
    </div>
    {% endfor %}
{% endblock %}
